# Default registry *********************************************************
registry=https://registry.npmjs.org/

# Scoped packages to different registries **********************************
# The following is an example for github packages and a private registry
@egokt:registry=https://npm.pkg.github.com

# An example for a private registry
# @another-scope:registry=https://private-registry.company.com
# @yet-another-scope:registry=https://private-registry.company.com

# Authentication tokens ****************************************************
# DO NOT DEFINE THE ACTUAL TOKENS HERE.
# * In your local environment, you can use .env files and direnv to manage them.
#   See the .env-example file for examples.
# * In ci, define them as secrets in your repository settings.
# * In building for production, you can use environment variables as well. If
#   building for prod in ci, you should use secrets.
# * In prod, you should not need them as you want to build before deploying.
#   and reference them like in the examples below.

# NPM registry authentication
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}

# GitHub Packages authentication
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# Private registry authentication
# //private-registry.company.com/another-scope:_authToken=${PRIVATE_TOKEN_FOR_ANOTHER_SCOPE}
# //private-registry.company.com/yet-another-scope:_authToken=${PRIVATE_TOKEN_FOR_YET_ANOTHER_SCOPE}
